.form {
  border: 2px;
  border-style: solid;
  align-content: space-between;
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  justify-content: space-evenly;
  display: flexbox;
  position: relative;
  padding: 10px 10px 10px 10px;
}